header{
    height: 100px;
    background-color: rgb(186, 229, 243);  
}

h1{
    padding: 10px 0 0 2.5%;
    font-size: 4em;
}

#main{
    width: 100%;
    margin: auto;
}

img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

