.reclamadinha-popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  font-family: sans-serif;
}
.reclamadinha-popup .modal {
  max-width: 280px;
  padding: 20px;
  background: white;
  height: auto;
  margin: 20px;
  border-radius: 16px;
  border: 1px solid #d3d3d3;
  box-shadow: 2px 2px 16px #0000004b;
}
.reclamadinha-popup .modal h1 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 4px
}
.reclamadinha-popup .modal .comments {

}

.reclamadinha-popup .modal .comments > div {
  padding: 9px;
  margin: 12px 0;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.comments .upvotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 11px;
}

.comments .upvotes .value {
  font-weight: 600;
}